<!DOCTYPE html><html><!-- HTML page head --><head>
    <!-- HTML metadata -->
    <meta charset="UTF-8">
    <title>FinMango FIRE</title>
    <meta name="description" content="FIRE calculator, made by FinMango">
    <link rel="icon" type="image/ico" href="../../static/favicon.ico">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="FinMango FIRE">

    <!-- Homescreen icons -->
    <link rel="apple-touch-icon" href="../../static/favicon.ico">

    <!-- Capabilities-related metadata -->
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- MomentJS -->
    <script type="text/javascript" src="../../third_party/moment/min/moment.min.js"></script>

    <!-- Custom styles and fonts -->
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/goldman-sans">
    <link rel="stylesheet" href="../../third_party/picnic/picnic.min.css">
    <link rel="stylesheet" href="../../static/styles.min.css">

    <!-- Polyfills, custom functions and constants -->
    <script type="text/javascript" src="../../static/cache.min.js"></script>
    <script type="text/javascript" src="../../static/formatter.min.js"></script>
    <script type="text/javascript" src="../../static/component-helper.min.js"></script>
    <script type="text/javascript" src="../../static/polyfills.min.js"></script>
    <script type="text/javascript">const DEFAULT_OPTIONS={};CURRENT_OPTIONS=Object.keys(DEFAULT_OPTIONS).reduce((t,e)=>Object.assign(t,{[e]:sessionStorage.getItem(e)||DEFAULT_OPTIONS[e]}),{}),GOOGLE_CHARTS_CONFIG=window.GOOGLE_CHARTS_CONFIG||{theme:"material",fontName:"Goldman Sans",colors:["{{theme-primary}}"],legend:{position:CURRENT_OPTIONS.chart_legend_position||"none"},chartArea:{width:"100%",height:"100%",left:parseInt(CURRENT_OPTIONS.chart_padding_left||64),bottom:parseInt(CURRENT_OPTIONS.chart_padding_bottom||48),top:parseInt(CURRENT_OPTIONS.chart_padding_top||24)},titlePosition:"in",axisTitlesPosition:"in",hAxis:{textPosition:"bottom",textStyle:{fontName:"Goldman Sans"}},vAxis:{textPosition:"out",viewWindow:{min:0},textStyle:{fontName:"Goldman Sans"}},height:parseInt(CURRENT_OPTIONS.chart_height||300)};</script>



</head><body>
    <!-- Page header -->
    <header class="flex center one two-600 three-800">
    <div class="none sixth-800"></div>
    <div>
        <a class="centered uppercase" target="_blank" href="https://finmango.org" style="display: block; padding: 0;">
            <img class="centered" src="../../static/logo.png" height="128" width="auto">
        </a>
    </div>
    <div>
        <h1 class="centered uppercase">🔥 FIRE Calculator</h1>
    </div>
    <div class="none sixth-800"></div>
</header>

    <main class="single-column-wide" style="margin-top: auto; margin-bottom: auto;">

        <div class="spacer"></div>

        <div id="fire-survey">
    <style>.animated{transition:all .5s ease-in-out}.screen{height:0;opacity:0;overflow:hidden}.screen-visible{height:auto;opacity:1;overflow:initial}</style>

    <div class="screen animated" id="how-much-owed">

        <div class="spacer"></div>
        <div class="spacer"></div>

        <div>
            <h2 class="centered" style="text-transform: uppercase; font-size: xx-large;">
                Do you have any debts?
            </h2>
        </div>

        <div class="centered flex one" style="max-width: 600px;">
            <label for="debt-net">
                Total Amount Owed
            </label>
            <input type="number" pattern="/d*" id="debt-net" min="0" value="0">
            <span class="centered" style="font-size: small;">
                The average student or car loan debt is around $30,000.
            </span>
        </div>

        <div class="spacer"></div>

        <div class="centered flex one" style="max-width: 600px;">
            <label for="debt-interest-rate">
                Interest Rate
            </label>
            <input type="number" pattern="/d*" id="debt-interest-rate" min="0" max="100" value="5">
            <span class="centered" style="font-size: small;">
                The average student and car loan interest rate is 5-6%, mortgage is around 4%.
            </span>
        </div>
    </div>

    <div class="screen animated" id="how-much-invested">

        <div class="spacer"></div>
        <div class="spacer"></div>

        <div>
            <h2 class="centered" style="text-transform: uppercase; font-size: xx-large;">
                Do you have any investments?
            </h2>
        </div>

        <div class="centered flex one" style="max-width: 600px;">
            <label for="investments-net">
                Total Invested Amount
            </label>
            <input type="number" pattern="/d*" id="investments-net" min="0" value="0">
            <span class="centered" style="font-size: small;">
                Total money invested in stock market, 401K, etc.
            </span>
        </div>

        <div class="spacer"></div>

        <div class="centered flex one" style="max-width: 600px;">
            <label for="expected-return">
                Expected Investment Annual Return Rate
            </label>
            <input type="number" pattern="/d*" id="expected-return" min="0" max="100" value="9.2">
            <span class="centered" style="font-size: small;">
                The average stock market return for a 10-year period is 9.2% per year.
            </span>
        </div>
    </div>

    <div class="screen animated" id="how-much-earned">

        <div class="spacer"></div>
        <div class="spacer"></div>

        <div>
            <h2 class="centered" style="text-transform: uppercase; font-size: xx-large;">
                What is your income?
            </h2>
        </div>

        <div class="centered flex one" style="max-width: 600px;">
            <label for="income-net">
                Annual Post-Tax Income
            </label>
            <span class="centered" style="font-size: small;">
                Total household income <span style="text-decoration: underline;">after</span>
                taxes.
            </span>
            <input type="number" pattern="/d*" id="income-net" min="1" value="60000">
        </div>

        <div class="spacer"></div>

        <div class="centered flex one" style="max-width: 600px;">
            <label for="savings-rate">
                Savings Rate
            </label>
            <span class="centered" style="font-size: small;">
                Percentage of your income going into investments and to pay off debt.
            </span>
            <input type="number" pattern="/d*" id="savings-rate" min="0" max="100" value="25">
        </div>
    </div>

    <div class="screen animated" id="retirement-goals">

        <div class="spacer"></div>
        <div class="spacer"></div>

        <div>
            <h2 class="centered" style="text-transform: uppercase; font-size: xx-large;">
                What are your retirement goals?
            </h2>
        </div>

        <div class="centered flex one" style="max-width: 600px;">
            <label for="income-target">
                Annual Target Retirement Income
            </label>
            <span class="centered" style="font-size: small;">
                Annual after-tax target income after retirement.
            </span>
            <input type="number" pattern="/d*" id="income-target" min="1" value="60000">
        </div>

        <div class="spacer"></div>

        <div class="centered flex one" style="max-width: 600px;">
            <label for="safe-withdrawal-rate">
                Safe Withdrawal Rate
            </label>
            <span class="centered" style="font-size: small;">
                Percentage of investments that can be withdrawn without a net negative effect. Typically 4%.
            </span>
            <input type="number" pattern="/d*" id="safe-withdrawal-rate" min="0" max="100" value="4">
        </div>
    </div>

    <div class="spacer"></div>
    <div class="spacer"></div>

    <div class="screen animated" id="nav">
        <div class="centered flex one" style="max-width: 600px;">
            <button id="next">NEXT</button>
            <button onclick="window.location.reload()">START OVER</button>
        </div>
    </div>

    <script async>!async function(){const e=document.currentScript.parentElement;let c=0;const s=[].slice.call(e.querySelectorAll("div.screen"),0,-1);e.querySelector("#next").addEventListener("click",l=>{if(c+1<s.length){const e=s[c],l=s[c+1];e.classList.remove("screen-visible"),l.classList.add("screen-visible"),c++}else{const c=[].slice.call(e.querySelectorAll("input, select")),s=window.location.pathname.includes("/embed/")?"./embed/chart/":"./view/chart/",l=new URL(s,window.location.href);c.forEach(e=>{l.searchParams.set(e.id,e.value)}),window.location=l}}),e.querySelector("#how-much-owed").classList.add("screen-visible"),e.querySelector("#nav").classList.add("screen-visible")}();</script>
</div>

        <!-- Add some whitespace to the bottom -->
        <div class="spacer"></div>
        <div class="spacer"></div>
    </main>

    <!-- Load analytics at the end of the page -->
    <!-- <script src="../../components/analytics.tpl.html" data-include data-vars='{"root": "../.."}'></script> -->


</body></html>